/*Feuille de style pour les messages d'erreurs*/
body{
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.errMsg{
    display: none;
    color: #F00;
    margin-right: 75%;
}

input{
    border-color: grey;
}