/*Feuille de style pour les messages d'erreurs*/

.errMsg{
    display: none;
    color: #F00;
    margin-right: 75%;
}

.errMsgName{
    display: none;
    color: #F00;
    margin-right: 75%;
}

.errMsgNb{
    display: none;
    color: #F00;
    margin-right: 75%;
}
